<ion-header>
  <app-header>
    <ion-back-button [text]="" icon="arrow-back"></ion-back-button>
  </app-header>
</ion-header>

<ion-content>

  <div style="margin:25px 10px 10px;text-align:center;">
      <div>
        <h4>Your order has been received.</h4>
          <h5>Thank you for your purchase!</h5>
          <p>Your order #{{orderId}}</p>
          <p>You will receive an order confirmation email with details of your order and a link to track its progress.</p>
        </div>

      <ion-button (click)="home()">Continue Shopping</ion-button>
    </div>

</ion-content>
