.carttable{
	width: 70%;
	padding: 16px 0px 16px 0px;
}


.itemsss {
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
}
.cartorder{
--ion-background-color:#eee;
background-color:#eee;
margin : 10px 5%;
border-radius:0px;
}

.prohead{
	background-color: #3e7cf3;
    height: 44px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    padding-top: 11px;
}

